Source: zebr0-script
Section: admin
Priority: optional
Maintainer: Thomas JOUANNOT (Mazerty) <mazerty@gmail.com>
Build-Depends: debhelper (>=10)
Standards-Version: 3.9.7

Package: zebr0-script
Architecture: all
Depends: ${misc:Depends}, python3, zebr0-core
Description: Minimalist local provisioning
